<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cognito</title>
</head>
<body>
<p>Receieved Identity ({{identity}}) from Cognito successfully!</p>
<p>Received credentials from Cognito successfully!</p>
<ul>
{% for key, val in credentials.items() %}
    <li>{{key}}: {{val}}</li>
{% endfor %}
</ul>
{% if buckets %}
    <p>And here are the S3 buckets in the account:</p>
    <ul>
        {% for bucket in buckets.Buckets %}
            <li>{{bucket.Name}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>I would list some S3 buckets here but it doesn't look like the Cognito IAM Role has permission to list buckets.</p>
{% endif %}
</body>
</html>