<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cognito Federated Authentication Ref App</title>
</head>
<body>
<h1>Cognito Federated Authentication Ref App</h1>
<p>Login via:</p>
<p>
    <ul>
        <li>
            {% if facebook_url == None %}
                <strike>Facebook</strike> (not configured)
            {% else %}
                <a href="{{facebook_url}}">Facebook</a>
            {% endif %}
        </li>
        <li>
            {% if google_url == None %}
                <strike>Google</strike> (not configured)
            {% else %}
                <a href="{{google_url}}">Google</a>
            {% endif %}
        </li>
    </ul>
</p>
</body>
</html>