<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Successful!</title>
</head>
<body>
<p>Facebook login has been successful!</p>
<p>Received the token: {{token}}</p>
<p>Click <a href="http://localhost:5000/cognito">here</a> to initiate the Cognito identity dance.</p>
</body>
</html>